<div class="row">
	<div class="col-md-12">
        <form method="post" role="form" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3" for="clientId"></label>
          <div class="col-sm-9">
            <h2 class="center-block ">
                <% if (type == 'add') { %>
                    Add New User 
                <% } else if (typeof id != 'undefined'){ %>
                    Edit User
                    <input type="hidden" name="id" value="<%=id %>">
                <% } %>
            </h2>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="username">Username:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required value="<%=username%>">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="password">Password:</label>
          <div class="col-sm-9">          
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required value="<%=password%>">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="confirmpassword">Confirm Password:</label>
          <div class="col-sm-9">          
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required value="<%=confirmpassword%>">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="firstname">Frist Name:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" required value="<%=firstname%>">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="lastname">Last Name:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" required value="<%=lastname%>">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="email">Email Address:</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" value="<%=email%>">
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/admin/users">Cancel</a>
            
          </div>
        </div>
        </form>
    </div>
</div>
